.story-example-btn {
	font-size: 1rem;
	text-align: center;
	padding: .5rem 1rem;
	outline: none;
	border: 1px solid;
	cursor: pointer;
	text-decoration: none;
	transition: .3s;

	background-color: white;
	color: black;
	border-color: black;
	&:hover {
		background-color: black;
		color: white;
	}

	&:disabled {
		opacity: .5;
		cursor: not-allowed;
		&:hover {
			background-color: white;
			color: black;
			border-color: black;
		}
	}

	&--primary {
		background-color: fuchsia;
		color: white;
		border-color: fuchsia;

		&:hover {
			background-color: white;
			color: fuchsia;
		}
	}

	&--secondary {
		background-color: slateblue;
		color: white;
		border-color: slateblue;

		&:hover {
			background-color: white;
			color: slateblue;
		}
	}
}
