{
  "env": {
    "production": {
      "plugins": [
        "transform-react-remove-prop-types"
      ]
    },
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "test": {
      "presets": [["env"], "react"]
    }
  },
  "presets": [
    [
      "env", {
        "targets": {
          "browsers": "last 4 versions"
        },
        "modules": false
      }
    ],
    "react"
  ],
  "plugins": [
    "transform-react-jsx",
    "transform-class-properties",
    "jsx-display-if",
    "transform-react-constant-elements",
    "syntax-dynamic-import",
    "react-imported-component/babel"
  ]
}
